@charset "UTF-8";
/* CSS Document */

.navbar{
/*	background-color:#fff;  */
}

body{
    font-family: 'Hind', sans-serif;
    color: #373737;
    font-weight: 300;
    letter-spacing: .07em;
    padding-bottom: 15px;
    padding-top: 15px;
	background-color: #D1D1D1;
	max-width:1920px;
	margin: 0 auto;
	width:100%;
}

body, p{
    font-family: 'Hind', sans-serif;
    color: #373737;
    font-weight: 300;
    letter-spacing: .07em;
    padding-bottom: 15px;
    padding-top: 15px;
}

section.header-white{
	background-color:#fff;
	border-bottom:solid #3B3B3B;
}

section.header-white p{
	background-color:#fff;
}

section {
    padding:none 0px;
}


ul, ol {
    margin-top: 13px;
    margin-bottom: 26.5px;
    font-size: 20px;
}

.btn-social{
    border: 2px solid #DBC985;
}

a .fa.fa-fw{
	color:#DBC985;
}

.interior{
	padding-top:300px;
	padding-bottom:100px;
}

.modal-body ol, .modal-body ul, .modal-content ol, .modal-content ul{
	font-size:20px;
    margin-top: 19px;
    margin-bottom: 45.5px;
}

.interior ul, .interior ol {
    margin-top: 19px;
    margin-bottom: 45.5px;
	font-size:20px;
}

.btn-default {
    color: #FFF;
    background-color: #6B98BF;
    border-color: #7A7A7A;
    height: 40px;
}

a, a:visited {
    color: #5A8196;
	text-decoration:underline;
}

a:hover{
	color:#0FAFD0;
}

a .fa{
	color:#fff;
}

a:hover .fa{
	color:#000;
}

a.light-link, i.light-link{
	color:#DBC985;
	text-decoration:underline;
}

a.light-link.nu, i.light-link.nu{
	text-decoration:none;
}

a.light-link:hover, a i.light-link:hover{
	color:#fff;
}

.footer-above a, .footer-above a:visited{
	color:#fff;
	text-decoration:underline;
}

.footer-above a:hover{
color: #DBC985;
}

a.portfolio-link{
	text-decoration:none !important;
}

#portfolio .portfolio-item .portfolio-link {
    max-width: 300px;
}


h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	letter-spacing: .07em;
}

h1{
	font-size:31px;
	color:#000;
}

h2, section.success h2, locations h2{
	color:#c36f31;
	font-size:31px;
}

h3 {
    font-size: 22px;
    color: #B1B1A0;
}

ul.ul-padding li ul {
    margin-top: 3px;
}

.navbar-default {
    background-color: rgb(90, 129, 150);
    border-color: transparent;
}

.navbar .navbar-nav {
    position: relative;
    left: -65px;
}

.navbar-right {
    float: right !important;
    margin-right: -77px;
} 

.fa-arrow-circle-down{
	position:absolute;
	margin: 25px 0px 25px -9px;
}

a .fa-arrow-circle-down {
    color: #DC7027;
}



a .fa-arrow-circle-down:hover{
	color:#DF8345;
}

a .fa-arrow-circle-up {
    color: #6F6F6F;
}

a .fa-arrow-circle-up:hover {
    color: #A44A4B;
}


a .fa-arrow-circle-down.apply:hover{
	color:#F5E2C9;
}

img#samhsa-logo{
	width:600px;
}

.header-2{
	background-color:#000;
	padding:9px 0;
}

.navbar-fixed-top {
    padding: 42px 0 22px 0;
    border-bottom: 46px solid rgb(0, 0, 0);
}

.navbar-fixed-top.navbar-shrink {
    padding: 10px 0 22px 0;
}


.navbar-brand > img {
    display: block;
    margin-top: -80px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1a242f;
    position: relative;
    z-index: 10;
}

.col-xs-6.col-md-6.right-header {
    position: relative;
    top: 93px;
}

.log-me {
    position: relative;
    top: -9px;
}

#portfolio{
	background-color:#eede9b;
}

.navbar-default .navbar-nav > li > a {
    color: #DBC985;
	text-decoration:none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: transparent;
}

/*.navbar .navbar-nav {
    letter-spacing: 0px;
    font-size: .9em;
} */

.mustard{
	color:#c6ab3b;
	float:left;
}

.pale-blue{
	color:#8299a2;
}

 header{
    background-image: url("../img/big-background.jpg");
    background-color: #cccccc;
	background-size:100%;
	margin-top:175px;
} 

header img {
    margin: 0px auto;
}

img#big-header{
	width:100%;
	max-width:1500px;
}

img#big-header-sm{
	display:none;
}

section#about{
	background-color:#fff;
}

section.success{
	padding-bottom:0;
}

section#contact {
    background-color: #CD841C;
    margin-top: 116px;
}
section#locations{
	background-color:#fff;
}

#portfolio .portfolio-item {
    padding: 0 5%;
}



#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(0,0,0, .5);
}

.label.username {
    display: inline-block;
    width: 100px;
    color: #DFA626;
}

.label.password{
	display:inline-block;
	width:100px;
	color:#365060;
}

.usertext{
	background-color:#97afbd;
	height:20px;
	border:#787777 solid 1px;
}

.passwordtext{
	background-color:#dbc985;
	height:20px;
	border:#787777 solid 1px;
}

.fa-arrow-circle-down.book1{
	position:absolute;
	margin: 25px 0px 25px -9px;
}



.pad-right-col-1{
	padding-right:80px;
}

section.success p, section#locations p {
    color: #3C3C3C;
}

section.success{
	padding-bottom:95px;
}

/*section#locations{
	background-image:url("../img/globe.png");
}*/

section h2{
	font-size:31px;
}




#myglobe img {
    position: absolute;
    margin-top: -190px;
    right: 0px;
    height: 644px;
    margin-right: -45px;
}

.portfolio-modal .modal-content h2 {
    font-size: 2em;
}



/*Popup Pages*/

.portfolio-modal .modal-content {
    text-align: left;
	opacity: 0.92;
}

.num-left{
	float:left;
	width:5%;
	padding-left:2.5%;
}

.num-right{
	float:right;	
	width:90%;
}

.num-pad{
	padding-bottom:20px;
}

#contact, #contact p{
	color:#fff;
}

#contact h2{
	color:#000;
	font-size: 31px;
}

.row.num-pad {
	font-size:20px;
}

footer .footer-above {
    background-color: #5A8196;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    width: 100%;
    position: relative;

}

.text-right.log-me{
	text-align:right;
}

.navbar-default .navbar-toggle {
    border-color: #1A242F;
    position: relative;
    z-index: 100;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    position: relative;
    top: 103px;
}

footer .footer-below {
    background-color: #000;
    position: relative;
    z-index: 10;
}

footer .footer-above {
    z-index: 10;
    position: relative;
}

/*Fixed Side Nav */

ul.nav{
	list-style:none;
	padding:0;
	margin:0;
	position:fixed;
	left:-10px;
	top:210px;
}

ul.nav li{
	height:40px;
	width:55px;
	background: #000; /* Old browsers */

padding:3px;
position:relative;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;

}

ul.nav li a,ul.nav li a:hover{
	color:#fff;
	font-size:9px;
text-decoration:none;
text-transform:capitalize;
background: #000;
	
}


ul.nav li:hover {
    left:5px;
	background:#2F2F2F;
  /*  transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear; */
}


@media screen and (min-width: 1024px) {
.navbar-nav > li {
 /*   float: left; */
}
}

@media screen and (max-width: 1000px) {
	

.navbar .navbar-nav {
    position: relative;
    left: 12px;
    text-align: left;
    float: left !important;
    min-width: 210px;
    width: 100%;
}
	
.col-xs-6.col-md-6.right-header {
    position: relative;
    top: 26px;
    float: none;
    width: 100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    top: -31px;
}

img#samhsa-logo {
    width: 65%;
    position: relative;
    top: -93px;
}

.navbar-fixed-top {
    padding: 13px 0 22px 0;
	min-height: 178px;

}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    width: 100%;
    position: relative;
    top: 46px;
}

.navbar-default .navbar-brand {
    color: #FFF;
    position: absolute;
    top: -13px;
}


.navbar-nav {
    margin: 31px -15px 36px;
}

}

@media screen and (max-width: 767px) {
	/* #portfolio .portfolio-item {
    margin: 18px auto;
	padding:3%;
    max-width: 343px;
} */

.pad-right-col-1{
	padding:0;
}

img#samhsa-logo {
    width: 60%;
    position: relative;
    top: -35px;
	left:20px;
} 

.col-xs-6.col-md-6.right-header {
    height: 125px;
}

.num-right {
    width: 85%;
}

.fa-arrow-circle-down {
    margin: 25px 7px 25px -17px;
}



.usertext, .passwordtext {
    width: 51%;
}

.navbar-default .navbar-toggle {
    top: -40px;
}

header {
    margin-top: 160px;
}
	
}

@media screen and (max-width: 480px) {
img#big-header-sm{
	display:block;
	width:100%;
	max-width:700px;
}

img#big-header{
	display:none;
}

h1, h2, h3, h4, h5, h6 {
	font-size:21px !important;
}
}



	 
